# Compiled
*.com
*.class
*.dll
*.exe
*.o
*.so

# Packages
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# OS
.DS_Store
Desktop.ini
._*
Thumbs.db
.Spotlight-V100
.Trashes

# Logs and databases
*.log
*.sql
*.sqlite

# Editor
*.swp
*.swo
*~
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
